{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-between">
    <div class="card" style="width: 23%; background-color: lightgrey">
      <div class="card-body">
        <h5 class="card-title">Country</h5>
        <h6 class="card-subtitle mb-2 text-muted">150</h6>
      </div>
    </div>
    <div class="card" style="width: 23%; background-color: lightgrey">
      <div class="card-body">
        <h5 class="card-title">Country</h5>
        <h6 class="card-subtitle mb-2 text-muted">150</h6>
      </div>
    </div>
    <div class="card" style="width: 23%; background-color: lightgrey">
      <div class="card-body">
        <h5 class="card-title">Country</h5>
        <h6 class="card-subtitle mb-2 text-muted">150</h6>
      </div>
    </div>
    <div class="card" style="width: 23%; background-color: lightgrey">
      <div class="card-body">
        <h5 class="card-title">Country</h5>
        <h6 class="card-subtitle mb-2 text-muted">150</h6>
      </div>
    </div>
    </div>

{% endblock %}